nav {
  width:100%;
  margin: auto;
  margin-top: 50px;
}

body{
  background-color: #87509C;
  font-family: "Titillium Web";
}

.btn-link{
  color: #fff;
  text-decoration: none;
}


.nav-link {
  color: #fff;
}

#home {
  color: #fff;
  background-color: #643A79;
  
}

.container-1 .row {
  margin: auto;
  height: 520px; 
  max-width: 65%
}


#container-text {
  display: flex;
  align-items:center ;
  justify-content: center;
  color: #FFF;
  margin-top: 40px;

}

#container-text p {
  color: #FFF;
}

.text-center .btn {
  background-color: #EB7D4B;
  color: #FFF;
  border: 0;
  width: 310px;
  height: 75px;
}

#container-text p{
  font-size: clamp(1.7em, 1em + 2vw, 2.5em);
}

/*  SERVICES  */

.container-2{
  background-color: #17C2A4;
  height: 100%;
  width: 100%;
  padding-bottom: 7%;
}

#services h2, p {
  color: #FFF;
}


.container-2 h1{
  margin-top: 10%;
  margin-bottom: 2%;
}

#services p, h1, h2{
  color: #FFF;
}

.divisor2{
  width: 87px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.156);
  margin-top: -1.5%;
}

.pai-divisor2 {
  display: flex;
  justify-content: center;
}


.col-md-3 img {
  padding-top: 15%;
 
}

.row {
  width: 100%;
}

#services {
 padding: 0 60px 100px 60px;
}


 /* BEAUTIFUL TEAM */


#team {
  background-color: #E7F1F8;
  width: 100%;
  padding: 0 60px 100px 60px;
}

#team h1, h2, p {
  color: #3C4761;
}

.divisor{
  width: 87px;
  height: 4px;
  background-color: #bdd1dfb4;
  margin-top: -1.5%;
}

.pai-divisor {
  display: flex;
  justify-content: center;
}

.col-md-3 p{
  margin: 0 auto;
  padding: 0 10% 30px;
}


.col-md-3 i img {
  padding: 15px 10px 0px 0px;
  
}


#skills {
  background-color: #FFF;
  padding: 0 60px 100px 60px;

}

#skills h1, h2, p {
  color: #3C4761;
}


.divisor3{
  width: 87px;
  height: 4px;
  background-color: #DFE8ED;
  margin-top: -1.5%;
}

.pai-divisor3 {
  display: flex;
  justify-content: center;
}

#skills h2 {
  margin-top: 8%;
}